USE [BI_Staging]
GO
/****** Object:  StoredProcedure [stg].[stpOM_Mesasamori]    Script Date: 18/06/2022 20:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [stg].[stpOM_Mesasamori]
AS BEGIN

-- DELETO A MINHA TABELA TEMPORARIA
	IF(OBJECT_ID('BI_Staging.stg.temp_OM') IS NOT NULL) 
		DROP TABLE BI_Staging.stg.temp_OM


-- AQUI ELE PEGA OS DADOS DA BASE DE DADOS EM PRODUÇÃO E COLOCA-OS EM UMA TABELA TEMPORÁRIA
SELECT 
	Data,
	CONTA_REDUZIDA,
	COD_AREA,
	COD_PACOTE,
	COD_CENTRO_CUSTO,
	DEBITO_CREDITO,
	VALOR_LANCTO,
	DESC_CONTA,
	DESC_AREA,
	DESC_PACOTE,
	DESC_CC,
	GERENTE,
	DIRETOR,
	'Mesasamori' as ORIGEM
INTO stg.temp_OM
FROM PROD.dbo.OM_Mesasamori

-- GARANTE QUE A TABELA DESTINO NO BI_STAGING ESTEJA LIMPA
TRUNCATE TABLE [stg].[OM_Mesasamori]

-- GARANTINDO QUE ESTÁ LIMPO, INSERIMOS TODOS OS DADOS NOVAMENTE, A PARTIR DA TABELA TEMPORARIA
INSERT INTO [stg].[OM_Mesasamori]
SELECT * FROM stg.temp_OM


-- DELETO A MINHA TABELA TEMPORARIA
IF(OBJECT_ID('BI_Staging.stg.temp_OM') IS NOT NULL) 
		DROP TABLE BI_Staging.stg.temp_OM
END;